<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <div class="clouds"></div>
    <div class="text1">
        <h1>Weather App</h1>
        <p>Enter the city name to get the weather:</p>
    </div>
    <form action="{{ url_for('weather') }}" method="post">
        <br><br>
        <input type="text" name="city" id="cityInput" placeholder="Enter city">
        <br><br>
        <button type="submit">Get Weather</button>
    </form>
    
    <div id="weather-container"></div>
</body>
</html>
